
@{
    ViewBag.Title = "Create";
}

<h2>Create Autions</h2>

<form method="post">
    <label>Title</label>
    <input type="text" name="Title" />
    <br />

    <label>Description</label>
    <input type="text" name="Description" />
    <br />

    <label>ActualAmount</label>
    <input type="number" name="ActualAmount" />
    <br />

    <label>StartingTime</label>
    <input type="date" name="StartingTime" />
    <br />

    <label>EndingTime</label>
    <input type="date" name="EndingTime" />
    <br />

    <button>Save</button>
</form>