
@{
    ViewBag.Title = "Create";
}

<h2>Create Autions</h2>

<form id="createForm">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>ActualAmount</label>
        <input type="number" name="ActualAmount" class="form-control" />
    </div>

    <div class="form-group">
        <label>StartingTime</label>
        <input type="date" name="StartingTime" class="form-control" />
    </div>

    <div class="form-group">
        <label>EndingTime</label>
        <input type="date" name="EndingTime" class="form-control" />
    </div>

    <button type="button" id="saveBtn" class="btn btn-success">Save</button>
</form>


<script type="text/javascript">
    $(document).ready(function () {
        $('#saveBtn').click(function () {
            $.ajax({
                type: 'POST',
                url: '/Auctions/Create',
                data: $('#createForm').serialize()
            })
                .done(function (response) {
                    debugger;
                    $('#listingArea').html(response);
                })
                .fail(function () {
                })
        })

    });  //--> Here is close Document ready function().
</script>