@{
    ViewBag.Title = "Create";
}

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form id="createForm">
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="Title" class="form-control" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" name="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label>ActualAmount</label>
            <input type="number" name="ActualAmount" class="form-control" />
        </div>

        <div class="form-group">
            <label>StartingTime</label>
            <input type="date" name="StartingTime" class="form-control" />
        </div>

        <div class="form-group">
            <label>EndingTime</label>
            <input type="date" name="EndingTime" class="form-control" />
        </div>

        <div class="form-group">
            <label>Select Pictures</label>
            <input type="file" name="AuctionPictures" multiple id="auctionPictures" class="form-control" />
            <input type="hidden" name="AuctionPicture" id="pitureIDs" />

            <div id="picturesArea">  </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="saveBtn" class="btn btn-success">Save</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#auctionPictures').change(function () {
            debugger;
            var pictures = this.files;
            var picsData = new FormData();

            for (var i = 0; i < pictures.length; i++) {
                picsData.append("Picture", pictures[i]);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadPitures", "Shared")',
                data: picsData,
                dataType: 'json',
                processData: false,
                contentType:false
            })
                .done(function (responses) {
                    debugger;
                    var picIDs = '';
                    for (var i = 0; i < responses.length; i++) {
                        var picResponse = responses[i];
                        var imgHTML = "<img class='img-fluid' src='/Content/ThemeMaterial/Images/" + picResponse.pictureURL+"' />"
                        $('#picturesArea').append(imgHTML);
                        picIDs = picIDs + "," + picResponse.ID;
                    }

                    $('#pitureIDs').val(picIDs);
                })
                .fail(function () {
                })
        });


        //--> Save Button Funtionallity.
        $('#saveBtn').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Auctions")',    //--> '/Auctions/Create',
                data: $('#createForm').serialize()
            })
                .done(function (response) {
                    $('#formModal').modal('toggle');
                    $('#listingArea').html(response);
                })
                .fail(function () {
                })
        })

    });  //--> Here is close Document ready function().
</script>
